.animation {
   height: 500px;
   background-color: rgb(26, 230, 202);
   margin-bottom: 25px;
   position: relative;
}

.animation__element {
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 150px;
   width: 150px;
   border-radius: 50%;
   background-color: rgb(241, 188, 13);
}