$white-color-text:#FFFFFFD9;

$violet-border-components: #9747FF;

$violet-bg:#907FF029;
$orange-bg:#FFA62A29;
$red-bg:#EE534729;
$green-bg:#3CD6A329;

$header-grey-bg: #0D0D0D;
$main-bg-grey: #1A1A1A;

$violet:#907FF0;
$orange:#FFA62A;
$red:#F07369;
$green:#3CD6A3;

$violet-border:#907FF03D;
$orange-border:#FFA62A3D;
$red-border:#EE53473D;
$green-border:#3CD6A33D;

$violet-bg-alert-item:#907FF100;
$orange-bg-alert-item:#FFA62100;
$red-bg-alert-item:#EE534100;
$green-bg-alert-item:#3CD6A100;

