.components__modal {
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (min-width: 768px) {
      align-items: flex-start;
   }
}

.modal__container{}

.modal__window {
   max-width: 480px;
   border: 1px solid #FFFFFF1F;
   border-radius: 8px;
   overflow: hidden;
   padding: 16px;
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
}

.modal__header {
   display: flex;
   justify-content: space-between;
   padding-bottom: 16px;
}
.modal__title {

   h6 {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
   }
}
.modal__body {
   display: flex;
   min-height: 248px;

   p {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
   }
}
.modal__footer {
   display: flex;
   justify-content: right;
   gap: 8px;
}