.components__modal {
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (min-width: 768px) {
      align-items: flex-start;
   }
}

.modal__container {
   display: none;
   align-items: center;
   justify-content: center;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: #00000099;

   &.modal__container--active {
      display: flex;
   }
}

.modal__window {
   max-width: 480px;
   border: 1px solid #FFFFFF1F;
   border-radius: 8px;
   overflow: hidden;
   padding: 16px;
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
   background-color: $main-bg-grey;
}

.modal__header {
   display: flex;
   justify-content: center;
   padding-bottom: 16px;
   flex-wrap: wrap;
   gap: 5px;

   @media screen and (min-width: 768px) {
      justify-content: space-between;
   }
}

.modal__title {

   h6 {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
   }
}

.modal__body {
   display: flex;
   min-height: 248px;

   p {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
   }
}

.modal__footer {
   display: flex;
   justify-content: right;
   gap: 8px;
   justify-content: center;
   flex-wrap: wrap;

   @media screen and (min-width: 768px) {
      justify-content: flex-end;
   }
}