body {
   background-color: #000000;
   color: $white-color-text;
   font-family: "PingFang SC";
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 680px;
   padding: 0px 20px 0 20px;
}

.header {
   background-color: $header-grey-bg;
}

.header__logo {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.header__img {
   max-width: 175px;

   img {
      width: 100%;
   }
}

main {
   background-color: $main-bg-grey;
}

.components {
   padding-bottom: 50px;
}

.components__collapse {
   border: 1px solid #FFFFFF1F;
   border-radius: 8px;
   overflow: hidden;
}

.components__title {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-top: 64px;
   padding-bottom: 25px;
}

.collapse__accordion {
   display: flex;
   flex-direction: column;
}

.accordion__title {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #FFFFFF1F;
   padding: 16px 13px;
   cursor: pointer;
}

.accordion__button {
   display: flex;
   align-items: center;
   gap: 4px;
   background-color: $main-bg-grey;
   font-size: 12px;
   line-height: 18px;
   color: #FFFFFF8C;
}

.accordion__button-icon {
   transition: all 0.3s;
}

// .accordion__content {
//    display: none;
//    background-color: $header-grey-bg;
//    padding: 16px 13px;

//    &.accordion__content--active {
//       display: block;
//    }
// }

.accordion__content { //через макс висоту
   max-height: 0px;
   overflow: hidden;
   background-color: $header-grey-bg;
   transition: 0.3s ease-in-out;

   p {
      padding: 16px 13px;
   }
}