body {
   background-color: #000000;
   color: $white-color-text;
   font-family: "PingFang SC";
   // display: flex;
   // align-items: center;
   // justify-content: center;
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;

   @media screen and (min-width: 768px) {}
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 680px;
   padding: 0px 20px 0 20px;
   align-items: center;

   @media screen and (min-width: 768px) {
      align-items: normal;
   }
}

.header {
   background-color: $header-grey-bg;
}

.header__logo {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;

   @media screen and (min-width: 768px) {
      align-items: normal;
   }
}

.header__img {
   max-width: 175px;

   img {
      width: 100%;
   }
}

main {
   background-color: $main-bg-grey;
}

.components {}

.components__title {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-top: 64px;
   padding-bottom: 25px;
   align-items: center;

   @media screen and (min-width: 768px) {
      align-items: normal;
   }
}