body {
   background-color: #000000;
   color: $white-color-text;
   font-family: "PingFang SC";
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.container {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   max-width: 675px;
}

.header {
   background-color: $header-grey-bg;
}

.header__logo {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.header__img {
   max-width: 175px;

   img {
      width: 100%;
   }
}

main {
   background-color: $main-bg-grey;
}

.components__main {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-top: 64px;
   padding-bottom: 25px;
}

.components__alert {
   border: 1px dashed $violet-border-components;
   border-radius: 5px;
}

.alert__first {
   padding: 16px 16px 90px 16px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.alert__item {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0 10px 0;
   gap: 8px;
   position: relative;

   &.alert__item--info{
      background-color: $violet-bg;
   }

   &.alert__item--warning{
      background-color: $orange-bg;
   }

   &.alert__item--danger{
      background-color: $red-bg;
   }

   &.alert__item--success{
      background-color: $green-bg;
   }
}