@import './custom-reset.scss';
@import './colors.scss';
@import './fonts.scss';
@import './button.scss';
@import './global.scss';

body {
   background-color: #000000;
   color: $white-color-text;
   font-family: "PingFang SC";
}

.wrapper {
   max-width: 3200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 3000px;
   padding: 0px 20px 0 20px;
}

.header {
   background-color: $header-grey-bg;
}

.header__logo {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.header__img {
   max-width: 175px;

   img {
      width: 100%;
   }
}

main {
   background-color: $main-bg-grey;
}

.catalogue {
   padding-bottom: 50px;
}

.catalogue__title {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-top: 64px;
   padding-bottom: 25px;
}

.catalogue__list-btn {
   display: flex;
   flex-direction: column;
}

.list-btn__button {
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   border: 1px dashed $violet-border-components;
   padding: 16px;
   gap: 85px;
}

